<!DOCTYPE html>
<html>
    <head>
        <title>eVote-AdminUI</title>
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0-beta1/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-giJF6kkoqNQ00vy+HMDP7azOuL0xtbfIcaT9wjKHr8RbDVddVHyTfAAsrekwKmP1" crossorigin="anonymous">
        <script src="https://code.jquery.com/jquery-3.5.1.min.js" integrity="sha256-9/aliU8dGd2tb6OSsuzixeV4y/faTqgFtohetphbbj0=" crossorigin="anonymous"></script>
        <link href="{{url_for('static', filename='adminui.css')}}" rel="stylesheet">
    </head>
    <body>
        <div class="container-fluid">
            <h2 class="position-absolute top-0 start-50 translate-middle-x shadow p-3 mb-5 bg-white rounded">eVote Admin UI</h2>
            <div class="dropdown position-absolute top-0 end-0 shadow p-2 bg-white">
                <img id="admin_dropdown" class="rounded-circle dropdown-toggle position-absolute top-0 end-0 shadow p-2 bg-white" src="{{url_for('static', filename='profile.png')}}" width="75" data-bs-toggle="dropdown" aria-expanded="false">
                <ul class="dropdown-menu" aria-labelledby="admin_dropdown">
                    <li>
                        {% if admin_id %}
                        <button class="dropdown-item" type="button" disabled>{{ admin_id }}</button>
                        {% else %}
                        <div class="alert alert-danger" role="alert">Error!</div>
                        {% endif %}
                    </li>
                    <li>
                        {% if admin_id %}
                        <button class="dropdown-item" type="button" id="logout-button">Logout</button>
                        {% else %}
                        <button class="dropdown-item" type="button" disabled>Logout</button>
                        {% endif %}
                    </li>
                </ul>
            </div>

            <div class="container w-75 position-absolute top-50 start-50 translate-middle shadow p-3 bg-white rounded text-center">
                <div class="dropdown">
                    <button type="button" class="btn btn-primary dropdown-toggle" data-bs-toggle="dropdown" aria-expanded="false">Create Election</button>
                    <div class="dropdown-menu translate-middle-y shadow p-2 bg-white rounded" aria-labelledby="admin_dropdown">
                        <div class="alert alert-danger" role="alert">Please do not use whitespaces in the names. Instead use underscores as a space.</div>
                        <div class="alert alert-danger" role="alert">Allowed file formats ".jpg", ".png", ".jpeg". The filenames should not have spaces in between.</div>
                        <form class="p-3 container-fluid" enctype="multipart/form-data">
                            <div class="row formfields">
                                <div class="col-sm form-floating">
                                    <input type="text" class="form-control" name="pn[]" required placeholder="Party Name">
                                    <label for="party_name">Party Name</label>
                                </div>
                                <div class="col-sm">
                                    <label for="party_photo">Party Photo</label>
                                    <input type="file" class="form-control" name="pp[]" required>
                                </div>
                                <div class="col-sm form-floating">
                                    <input type="text" class="form-control" name="rn[]" required placeholder="Representative Name">
                                    <label for="rep_name">Representative Name</label>
                                </div>
                                <div class="col-sm">
                                    <label for="rep_photo">Representative Photo</label>
                                    <input type="file" class="form-control" name="rp[]" required>
                                </div>
                            </div>
                            <br/><br/>
                            <div class="position-absolute start-50 translate-middle">
                                <button type="submit" class="btn btn-primary" id="submit_election">Submit</button>
                            </div>
                        </form>
                        <br/><br/>
                        <button class="btn btn-default position-absolute start-50 translate-middle" id="add_field_button" type="button">
                            <img src="{{url_for('static', filename='plus-circle-fill.svg')}}" width="20" height="20"/>
                            Add Field
                        </button>
                        <br/>
                    </div>
                </div>
                <br/><br/>
                <button type="button" class="btn btn-primary" aria-expanded="false" id="election_results">Get Election Results</button>
                <!-- <div class="results_dropdown">
                    <button type="button" class="btn btn-primary dropdown-toggle" data-bs-toggle="dropdown" aria-expanded="false">Get Election Results</button>
                    <div class="dropdown-menu position-absolute top-50 start-50 translate-middle w-50 shadow p-2 bg-white rounded" aria-labelledby="result_dropdown" id="election_results">
                    </div>
                </div> -->
            </div>
        </div>
        <div id="snackbar"></div>
        <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0-beta1/dist/js/bootstrap.bundle.min.js" integrity="sha384-ygbV9kiqUc6oa4msXn9868pTtWMgiQaeYH7/t7LECLbyPA2x65Kgf80OJFdroafW" crossorigin="anonymous"></script>
        <script src="{{url_for('static', filename='adminui.js')}}"></script>
    </body>
</html>