<h3>Success!</h3>
<h4>Please store the secret code safely. It is required when you login</h4>
<br/>
<div class="mb-3">
    <label>Voter ID</label>
    <br/>
    {% if voter_id %}
    <div class="alert alert-info" role="alert">{{ voter_id }}</div>
    {% else %}
    <div class="alert alert-danger" role="alert">Error! Please contact support</div>
    {% endif %}
</div>
<div class="mb-3">
    <label>Name</label>
    <br/>
    {% if voter_name %}
    <div class="alert alert-info" role="alert">{{ voter_name }}</div>
    {% else %}
    <div class="alert alert-danger" role="alert">Error! Please contact support</div>
    {% endif %}
</div>
<div class="mb-3">
    <label>Date of Birth</label>
    <br/>
    {% if voter_dob %}
    <div class="alert alert-info" role="alert">{{ voter_dob }}</div>
    {% else %}
    <div class="alert alert-danger" role="alert">Error! Please contact support</div>
    {% endif %}
</div>
<div class="mb-3">
    <label>Secret Code</label>
    <br/>
    {% if voter_secretkey %}
    <div class="alert alert-info" role="alert">
        <input id="secret_key" type="text" value="{{ voter_secretkey }}" readonly>
        <button id="copytoclipbutton" onclick="mainCopyToClipboard(document.querySelector('#secret_key'))">
            <img src="{{url_for('static', filename='clippy.svg')}}" alt="Copy to clipboard" width="13" />
        </button>
    </div>
    {% else %}
    <div class="alert alert-danger" role="alert">Error! Please contact support</div>
    {% endif %}
</div>