<h3>Success!</h3>
<h4>Please store the secret code safely. It is required when you login</h4>
<br/>
<div class="mb-3">
    <label>Voter ID</label>
    <br/>
    {% if voter_id %}
    <div class="alert alert-info" role="alert">{{ voter_id }}</div>
    {% else %}
    <div class="alert alert-danger" role="alert">Error! Please contact support</div>
    {% endif %}
</div>
<div class="mb-3">
    <label>Name</label>
    <br/>
    {% if voter_name %}
    <div class="alert alert-info" role="alert">{{ voter_name }}</div>
    {% else %}
    <div class="alert alert-danger" role="alert">Error! Please contact support</div>
    {% endif %}
</div>
<div class="mb-3">
    <label>Date of Birth</label>
    <br/>
    {% if voter_dob %}
    <div class="alert alert-info" role="alert">{{ voter_dob }}</div>
    {% else %}
    <div class="alert alert-danger" role="alert">Error! Please contact support</div>
    {% endif %}
</div>
<div class="mb-3">
    <label>Secret Code</label>
    <br/>
    {% if voter_secretkey %}
    <div class="alert alert-info clipbutton" role="alert">
        <input id="secret_key" type="text" value="{{ voter_secretkey }}">
        <button id="copytoclipbutton">
            <img src="{{url_for('static', filename='clippy.svg')}}" alt="Copy to clipboard" width="13" />
        </button>
    </div>
    {% else %}
    <div class="alert alert-danger" role="alert">Error! Please contact support</div>
    {% endif %}
</div>
{% block scripts %}
<!-- <script src="https://cdn.jsdelivr.net/npm/clipboard@2.0.8/dist/clipboard.min.js"></script> -->
<script type="text/javascript">
    document.getElementById("clipbutton").addEventListener('click', function() {
        copyToClipboardStatus(document.getElementById("secret_key"));
    });

    function copyToClipboardStatus(ele) {
        var succeed = copyToClipboard(ele);
        var message;

        if(!succeed) {
            message = "Copy not supported. Press Ctrl + C or Cmd + C to copy";
        }
        else {
            message = "Copied!";
        }

        var tempele = document.getElementById("copytoclipbutton");
        tempele.innerHTML = message;

        setTimeout(function() {
            tempele.innerHTML = `<img src="{{url_for('static', filename='clippy.svg')}}" alt="Copy to clipboard" width="13" />`;
        }, 2500);
    }

    function copyToClipboard(ele) {
        var targetId = "_hidden_";
        var isInput = ele.tagName === "INPUT" || ele.tagName === "TEXTAREA";
        var origSelectStart, origSelectEnd;

        if(isInput) {
            target = ele;
            origSelectStart = ele.selectionStart;
            origSelectEnd = ele.selectionEnd;
        }
        else {
            target = document.getElementById(targetId);

            if(!target) {
                var target = document.createElement("textarea");
                target.style.position = "absolute";
                target.style.left = "-9999px";
                target.style.top = "0";
                target.id = targetId;
                document.body.appendChild(target);
            }

            target.textContent = ele.textContent;
        }

        var currentFocus = document.activeElement;
        target.focus();
        target.setSelectionRange(0, target.value.length);

        var succeed;
        try {
            succeed = document.execCommand("copy");
        } catch(e) {
            succeed = false;
        }

        if(currentFocus && typeof currentFocus.focus === "function") {
            currentFocus.focus();
        }

        if(isInput) {
            ele.setSelectionRange(origSelectStart, origSelectEnd);
        }
        else {
            target.textContent = "";
        }

        return succeed;
    }

    // var clipboard = new ClipboardJS('.copytoclipbutton');

    // clipboard.on('success', function(e) {
    //     $(e.trigger).text("Copied!");
    //     e.clearSelection();
    //     setTimeout(function() {
    //         $(e.trigger).html(`<img src="{{url_for('static', filename='clippy.svg')}}" alt="Copy to clipboard" />`);
    //     }, 2500);
    // })
</script>
{% endblock scripts %}