<h3>Success!</h3>
<h4>Please store the secret code safely. It is required when you login</h4>
<br/>
<div class="mb-3">
    <label>Voter ID</label>
    <br/>
    {% if voter_id %}
    <div class="alert alert-info" role="alert">{{ voter_id }}</div>
    {% else %}
    <div class="alert alert-danger" role="alert">Error! Please contact support</div>
    {% endif %}
</div>
<div class="mb-3">
    <label>Name</label>
    <br/>
    {% if voter_name %}
    <div class="alert alert-info" role="alert">{{ voter_name }}</div>
    {% else %}
    <div class="alert alert-danger" role="alert">Error! Please contact support</div>
    {% endif %}
</div>
<div class="mb-3">
    <label>Date of Birth</label>
    <br/>
    {% if voter_dob %}
    <div class="alert alert-info" role="alert">{{ voter_dob }}</div>
    {% else %}
    <div class="alert alert-danger" role="alert">Error! Please contact support</div>
    {% endif %}
</div>
<div class="mb-3">
    <label>Secret Code</label>
    <br/>
    {% if voter_secretkey %}
    <div class="alert alert-info clipbutton" role="alert">
        <input id="secret_key" type="text" value="{{ voter_secretkey }}">
        <button class="copytoclipbutton" data-clipboard-target="#secret_key" data-clipboard-action="copy">
            <img src="{{url_for('static', filename='clippy.svg')}}" alt="Copy to clipboard" width="13" />
        </button>
    </div>
    {% else %}
    <div class="alert alert-danger" role="alert">Error! Please contact support</div>
    {% endif %}
</div>
{% block scripts %}
<script src="https://cdn.jsdelivr.net/npm/clipboard@2.0.8/dist/clipboard.min.js"></script>
<script type="text/javascript">
    var clipboard = new ClipboardJS('.copytoclipbutton');

    clipboard.on('success', function(e) {
        $(e.trigger).text("Copied!");
        e.clearSelection();
        setTimeout(function() {
            $(e.trigger).html(`<img src="{{url_for('static', filename='clippy.svg')}}" alt="Copy to clipboard" />`);
        }, 2500);
    })
</script>
{% endblock scripts %}